.resultTab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .formItems {
    resize: none;
    height: 85%;
    overflow-y: auto;

    div {
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .formButtons {
    align-self: flex-end;

    button {
      margin-right: 5px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}